<section class="container">
  <section class="item">   
      <form [formGroup]="form" class="add-form"> 
          <mat-form-field class="example-full-width" id="city">
            <mat-label>Міста</mat-label>
            <mat-select formControlName="city" (selectionChange)="citySelected($event)">
              <mat-option               
               *ngFor="let city of cityOptions" 
                [value]="city">
                {{city.name}}                 
              </mat-option>
            </mat-select>
          </mat-form-field>        
          <mat-form-field class="example-full-width">
            <mat-label>Університети</mat-label>
            <mat-select  formControlName="university" (selectionChange)="universitySelected($event)">
              <mat-option               
               *ngFor="let university of universityOptions" 
                [value]="university">
                {{university.name}}                 
              </mat-option>
            </mat-select>
          </mat-form-field>      
          <mat-form-field class="example-full-width">
            <mat-label>Факультети та інститути</mat-label>
            <mat-select formControlName="faculties" (selectionChange)="facultySelected($event)">
              <mat-optgroup *ngFor="let group of facultiesOptions" [label]="group.letter">
                <mat-option                 
                *ngFor="let faculty of group.faculties" [value]="faculty">
                  {{faculty.name}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>        
          <mat-form-field class="example-full-width">
            <mat-label>Спеціальності</mat-label>
            <mat-select formControlName ="speciality" (selectionChange)="specialitySelected($event)">
              <mat-option              
              *ngFor="let speciality of specialityOptions" [value]="speciality">
                {{speciality.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>        
          <mat-form-field class="example-full-width">
            <mat-label>Спеціалізації</mat-label>
            <mat-select formControlName="specialization" (selectionChange)="specializationSelected($event)">
              <mat-option               
              *ngFor="let specialization of specializationOptions"  [value]="specialization">
                {{specialization.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button type="button" class="btn add-btn"  (click)="submit()">
            <span>Пошук</span>
          </button>
      </form> 
  </section>
  <div class="item result-container" *ngFor="let mentor of mentors">       
      <mat-card class="example-card"  >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{mentor.name}}</mat-card-title>
          <mat-card-subtitle>Telegram: {{mentor.telegram}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div><span><b>Університет: </b></span> <br><span>{{mentor.university}}</span></div>
          <div><span><b>Спеціальність: </b></span> <br><span>{{mentor.speciality}}</span></div>
          <div><span><b>Курс: </b> </span> <br><span>{{mentor.course}}</span></div>
          <div>
            <span *ngIf="mentor.canHelp">Може</span>
            <span *ngIf="!mentor.canHelp">Не може</span>
            <span> допомогти в питаннях з гуртожитком</span></div>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>Детально</button>
        </mat-card-actions>-->
      </mat-card>    
    </div>     
</section>

