<section class="about">
    <div class="about__wrapper">  
     <img src="../../assets/images/logo.png" class="about__logo-img"> 
      <div class="about__section">
         <div>
            <p  class="about_text">
              <!-- "Скільки пар на тиждень? Як відбувається навчальний процес?..."
              У кожного виникаєть такі та інші питання пр вступі до ВНЗ.
              І знайти відповіді на ці запитання доволі важко, 
              якщо у тебе немає знайомих які навчаються(навчались) 
              у вузі до якого ти хочеш поступити. -->
              Дана платформа пропонує налагодити комунікацію між абітурієнтом, 
              який хоче поступити до певного ВНЗ 
              та студентом, який навчається у даному закладі. 
              <br>Допоможи абітурієнту знайти відповіді на їхні запитання.  
              
            </p>
            <!-- <span class="about_text" tooltip="<p>Hello i'm a <strong>bold</strong> text!</p>" >Як це працює?</span> -->
          <div type="button" class="telegram-btn" >
            <!-- <span>Продовжити</span> -->
            <div #nameText></div>
          </div>
          <button type="button" class="login__btn"  (click)="login()">
            <span>Получить код</span>
          </button>
        </div>
      </div>      
    </div>
  </section>
  