.container {
    display: flex;
    padding: 1em;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: baseline;
}

.item {
    font-size: 1.1em;
    padding: 1em;
    border: 2px dashed black;
    margin-right: 50px;
}

.item>h2{
    text-align: center;
    color: #000;
}


.advertisment-container{
    /* height: 60vh; */
    text-align: center;	    
}

.advertisment-container>.logo{
    max-width: 220px;
}

.info_text {     
	margin: 0 auto;
    font-weight: 400;
    max-width: 400px;
    margin: 20px 0;
}

.qr-section{
    width:100px; 
    height: 100px;
    margin: 0 auto;
}

.print-btn{
    margin-top: 10px;
}

.bshadow {

    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
    /* opacity: .5; */
  
  }


@media(max-width: 600px) {

    .container {
        flex-direction: column;
    }
}