.container {
    display: flex;
    padding:  1em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.advertisment-container {
    font-size: 1.1em;
    padding: 0 3em;
    border: 2px dashed black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;	 
    margin: 0 40px;
} 

.title{
    text-align: center;
    color: #000;
    font-size: large;
    font-weight: bold;
    margin: 15px 0;    
}

.advertisment-container>.logo{
    max-width: 240px;
    margin: 20px 0;
    margin: 0 auto;
}  
.advertisment-container .info_text {     
  margin: 0 auto;
  font-weight: 400;
  width: 420px;   
  text-align: center;
  margin: 0 auto;
}

.bshadow {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
}

.print-btn{
    margin-top: 10px;
}

.print{
    display: none;
}