<div class="container">
   <div id="school">
    <div class="advertisment-container">
        <div class="title-text title">
            <span>
                Оголошення для університетів
            </span>
        </div>
        <div class="print title">
            <span>
                Стань ментор!
            </span>
        </div>
        <img class="logo" src="../../assets/images/logo.png">
        <p class="info_text">
            Скільки пар на тиждень? <br>
            Як відбувається навчальний процес?..." <br>
            Такі питання виникають у більшості абітурієнтів.<br>
            Допоможи абітурієнту знайти відповіді на їхні запитання!             
         </p> 
         <ngx-qrcode
            [elementType]="elementType"
            [errorCorrectionLevel]="correctionLevel"
            [value]="schoolUrlForPrint"
            cssClass="bshadow"></ngx-qrcode>
         <button type="button" class="btn add-btn print-btn"  (click)="onPrintAdvertismentForSchool()">
            <span>Роздрукувати</span>
        </button>
     </div>  
   </div>      
    <div  id="university">
        <div class="advertisment-container">
            <div class="title-text title">
                <span>
                    Оголошення для шкіл
                </span>
            </div>
            <div class="print title">
                <span>
                   Найди ментора!
                </span>
            </div>
            <img class="logo" src="../../assets/images/logo.png">
            <p class="info_text">
                 Скільки пар на тиждень? <br>
                 Як відбувається навчальний процес?..." <br>
                 У кожного абітурієнта виникає багато питаннь.<br>
                 Тут ти зможеш знайти  відповіді на свої питання :)
             </p> 
             <ngx-qrcode
                [elementType]="elementType"
                [errorCorrectionLevel]="correctionLevel"
                [value]="universityUrlForPrint"
                alt="Demo QR Code"
                cssClass="bshadow"></ngx-qrcode>
             <button type="button" class="btn add-btn print-btn"  (click)="onPrintAdvertismentForUniversity()">
                <span>Роздрукувати</span>
            </button>
         </div> 
    </div>
</div>