<section class="about">
    <div class="about__wrapper">  
     <img src="../../assets/images/thumb-up.png" class="about__logo-img"> 
      <div class="about__section">
         <div>
            <p  class="about_text">
              Дякую, за проявлену небайдужість!
              
            </p>
            <!-- <span class="about_text" tooltip="<p>Hello i'm a <strong>bold</strong> text!</p>" >Як це працює?</span> -->
          <div  class="telegram-btn" style="margin-left: 47%;">
            <!-- <span>Продовжити</span> -->
            <div #shareBtn></div>
          </div>         
        </div>
      </div>      
    </div>
  </section>
  
  